:root {
  --blanco: #fff;
  --oscuro: #212121;
  --primario: rgb(255, 193, 7);
  --secundario: #0097a7;
  --gris: #757575;

  --fuente-principal: 3.8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px */
}
.titulo {
  text-align: center;
  font-size: var(--fuente-principal);
  color: var(--primario);
}

.titulo span {
  font-size: 2rem;
}
